* {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  color: #151E09;
}
body {
  background-image: linear-gradient(180deg, #EBE6D6, #F9F8EE);
  font-family: 'Montserrat', sans-serif;
  /* background: #F9F8EE; */
}
h1 {
  text-align: center;
  padding-top: 0.5rem;
}
.header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.container {
  width: 80%;
  height: 80%;
}
.row {
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding-top: 9em;
}
.footer {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.col1 {
  width: 60%;
  height: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 2px solid #BC6C25;
  filter: blur(2);
}
.col2 {
  width: 60%;
  height: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 2px solid #BC6C25;
}
.col1:hover {
  filter: blur(1.5px);
}
.col2:hover {
  filter: blur(1.5px);
}
button {
  background-color: #FFFFFF;
  width: 100%;
  height: 70%;
  border-radius: 1rem;
  cursor: pointer;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 5px 10px 18px #888888;
}
.bttn {
  border: 4px solid #E7C7A2;
  width: 100%;
  height: 70%;
  border-radius: 1rem;
  cursor: pointer;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}
.spanBottom {
  text-align: center;
  padding-top: 3em;
}
form {
  width: 85%;
  height: 60%;
  margin-top: 13%;
  margin-left: 7%;
  margin-right: 7%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(180deg, #EBE6D6, #F9F8EE);
  /* background-color: #F9F8EE; */
}
.form-row {
  width: 90%;
  height: 20%;
}
.form-group {
  height: 20%;
}
.form-control {
  border-radius: 10px;
  border: 1px solid #DDA15E;
}
form button:hover {
  background: #DDA15E;
  color: white;
}
#submitButton {
  background-color: #FFFFFF;
  color: #151E09;
  border: 3px solid #DDA15E;
  border-radius: 10px;
}
#submitButton:hover {
  filter: blur(1.5px);
}
.modal {
  width: 100%;
  height: 100%;
  margin-top: 9%;
  opacity: white 1px;
}
/* .modal-open {
  overflow-y: auto !important;
} */
.modal-content {
  /* background-color: #F9F8EE; */
  background-image: linear-gradient(180deg, #EBE6D6, #F9F8EE);
}
.submit_bttn {
  margin-top: 5%;
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 50%;
}