* {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  color: #151e09;
}
body {
  background: rgb(255, 255, 255);
  /* background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(249,248,238,1) 100%);
  background-image: linear-gradient(180deg, #ebe6d6, #f9f8ee); */
  font-family: "Montserrat", sans-serif;
}
h1 {
  text-align: center;
  padding-top: 0.5rem;
}
.header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.container {
  width: 80%;
  height: 80%;
}
.row {
  /* height: 90%; */
  flex-direction: column;
  align-items: center;
  display: flex;
  margin: 0px;
  padding-top: 5em;
}
.footer {
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.col1 {
  width: 60%;
  height: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 2px solid #151e09;
}
.col2 {
  width: 60%;
  height: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
button:hover {
  background: #dda15e;
  color: white;
}
button {
  background-color: #ffffff;
  width: 100%;
  height: 70%;
  border-radius: 4rem;
  cursor: pointer;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 5px 5px 5px #888888;
}
.bttn {
  border: 4px solid #dda15e;
  width: 100%;
  height: 70%;
  border-radius: 4rem;
  cursor: pointer;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}
.spanBottom {
  text-align: center;
  padding-top: 3em;
}
form {
  width: 85%;
  height: 90%;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 10%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(180deg, #ebe6d6, #f9f8ee);
}
.form-row {
  width: 90%;
  height: 8%;
}
.form-group {
  height: 0.5rem;
}
/* ----------- */
.form-control {
  border-radius: 5rem;
  border: 1px solid #dda15e;
}
form button:hover {
  background: #dda15e;
  color: white;
}
#submitButton {
  color: #151e09;
  border: 3px solid #dda15e;
  border-radius: 5rem;
}
#submitButton:hover {
  filter: blur(1.5px);
}
.modal {
  width: 100%;
  height: 80%;
  /* background: rgba(246, 243, 243, 0.828); */
  background: rgb(255, 255, 255);
  position: fixed;
}
.modal-content {
  background-image: linear-gradient(180deg, #ebe6d6, #f9f8ee);
  border-radius: 5rem;
}
.modal-open {
  overflow-y: auto !important;
}
.submit_bttn {
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  align-items: center;
  flex-direction: column;
}
